In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("students.csv")

In [3]:
data

     student_id student__first_name    country  age  has_rabbit
0             1               David     Brazil   31        True
1             2               Ahmet     Canada   20        True
2             3               Isaac        USA   20        True
3             4             Charlie  Indonesia   24        True
4             5               Isaac        USA   35        True
..          ...                 ...        ...  ...         ...
995         996               David   Portugal   34        True
996         997               Grace     Canada   23       False
997         998                Emma     Canada   26       False
998         999              Hannah     Brazil   24        True
999        1000               Frank        USA   33        True

[1000 rows x 5 columns]

In [4]:
students_df = pd.DataFrame(data)

In [5]:
students_df['country'].value_counts()

Mexico       153
Canada       141
Brazil       129
Portugal      86
Indonesia     79
Turkey        76
Poland        73
Argentina     71
China         67
USA           63
Cambodja      62
Name: country, dtype: int64

In [6]:
grouped = students_df.groupby(['country'])

In [20]:
students_df_1 = grouped.get_group("Mexico" and "Canada" and "Brazil" and "Turkey")

In [21]:
students_df_1

     student_id student__first_name country  age  has_rabbit
28           29             Charlie  Turkey   38       False
43           44               Anton  Turkey   28        True
48           49             Andreia  Turkey   28       False
69           70               Grace  Turkey   36        True
71           72               Anton  Turkey   35        True
..          ...                 ...     ...  ...         ...
930         931            Jonathan  Turkey   21        True
976         977               Frank  Turkey   18        True
980         981            Jonathan  Turkey   24        True
990         991               Ahmet  Turkey   32        True
992         993               David  Turkey   29       False

[76 rows x 5 columns]

In [22]:
students_df_1['country'].value_counts()

Canada    141
Name: country, dtype: int64

In [13]:
for i in students_df['country']:
    if list(students_df['country']) == "Mexico" or 'Canada' or 'Brazil' or 'Turkey':
        students_df == students_df_1
    else:
        students_df == students_df_2

NameError: name 'students_df_1' is not defined