# Customer Analysis Case Study
## Activity 1, Monday January 17th

##### - Aggregate the data into one Data Frame using Pandas. Pay attention that files may have different names for the same column. therefore, make sure that you unify the columns names before concating them.

In [1]:
import numpy as np
import pandas as pd

In [2]:
cust_an = pd.read_csv('file1.csv')

In [3]:
cust_an.columns

Index(['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Vehicle Class', 'Total Claim Amount'],
      dtype='object')

In [4]:
cust_an2 = pd.read_csv('file2.csv')

In [5]:
cust_an2.columns

Index(['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Total Claim Amount', 'Policy Type', 'Vehicle Class'],
      dtype='object')

In [6]:
cust_an3 = pd.read_csv('file3.csv')

In [7]:
cust_an3.columns

Index(['Customer', 'State', 'Customer Lifetime Value', 'Education', 'Gender',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Total Claim Amount', 'Vehicle Class'],
      dtype='object')

In [8]:
list(cust_an2.columns)

['Customer',
 'ST',
 'GENDER',
 'Education',
 'Customer Lifetime Value',
 'Income',
 'Monthly Premium Auto',
 'Number of Open Complaints',
 'Total Claim Amount',
 'Policy Type',
 'Vehicle Class']

In [9]:
cust_an2 = cust_an2 [['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value', 'Income', 'Monthly Premium Auto', 'Number of Open Complaints', 'Policy Type', 'Vehicle Class', 'Total Claim Amount']]

In [10]:
cust_an2.columns

Index(['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Vehicle Class', 'Total Claim Amount'],
      dtype='object')

In [11]:
cust_an3 = cust_an3 [['Customer', 'State', 'Gender', 'Education', 'Customer Lifetime Value', 'Income', 'Monthly Premium Auto', 'Number of Open Complaints', 'Policy Type', 'Vehicle Class', 'Total Claim Amount']]

In [12]:
cust_an3 = cust_an3.rename(columns={'State':'ST', 'Gender':'GENDER'})

In [13]:
cust_an3.columns

Index(['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Vehicle Class', 'Total Claim Amount'],
      dtype='object')

In [14]:
## Concatenating all files after unifying the columns
CA = pd.concat([cust_an, cust_an2, cust_an3])

In [15]:
CA.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
Income,9137.0,37828.820291,30358.716159,0.000000,0.000000,34244.000000,62447.000000,99981.000000
Monthly Premium Auto,9137.0,110.391266,581.376032,61.000000,68.000000,83.000000,109.000000,35354.000000
Total Claim Amount,9137.0,430.527140,289.582968,0.099007,266.996814,377.561463,546.420009,2893.239678

#### - Standardizing header names

In [16]:
## lower the column names
def lower_columns(CA):
    CA.columns=[i.lower() for i in CA.columns] #list comprehension
    return CA

In [17]:
CA = lower_columns(CA)

In [18]:
CA.columns

Index(['customer', 'st', 'gender', 'education', 'customer lifetime value',
       'income', 'monthly premium auto', 'number of open complaints',
       'policy type', 'vehicle class', 'total claim amount'],
      dtype='object')

#### - Removing duplicates

In [19]:
## remove duplicates
CA = CA.drop_duplicates()

In [20]:
CA

,customer,st,gender,education,customer lifetime value,income,monthly premium auto,number of open complaints,policy type,vehicle class,total claim amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...,...
7065,LA72316,California,M,Bachelor,23405.98798,71941.0,73.0,0,Personal Auto,Four-Door Car,198.234764
7066,PK87824,California,F,College,3096.511217,21604.0,79.0,0,Corporate Auto,Four-Door Car,379.200000
7067,TD14365,California,M,Bachelor,8163.890428,0.0,85.0,3,Corporate Auto,Four-Door Car,790.784983
7068,UP19263,California,M,College,7524.442436,21941.0,96.0,0,Personal Auto,Four-Door Car,691.200000
7069,Y167826,California,M,College,2611.836866,0.0,77.0,0,Corporate Auto,Two-Door Car,369.600000

####  - Deleting and rearranging columns – delete the column customer as it is only a unique identifier for each row of data

In [21]:
## remove the columns "customer"
def drop_columns(CA):
    CA.drop(columns=["customer"], inplace=True)
    return CA

In [22]:
CA = drop_columns(CA)

In [23]:
CA.columns

Index(['st', 'gender', 'education', 'customer lifetime value', 'income',
       'monthly premium auto', 'number of open complaints', 'policy type',
       'vehicle class', 'total claim amount'],
      dtype='object')

In [24]:
CA.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9135 entries, 0 to 7069
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   st                         9134 non-null   object
 1   gender                     9012 non-null   object
 2   education                  9134 non-null   object
 3   customer lifetime value    9127 non-null   object
 4   income                     9134 non-null   float64
 5   monthly premium auto       9134 non-null   float64
 6   number of open complaints  9134 non-null   object
 7   policy type                9134 non-null   object
 8   vehicle class              9134 non-null   object
 9   total claim amount         9134 non-null   float64
dtypes: float64(3), object(7)
memory usage: 785.0+ KB

In [25]:
## remove the "%" customer lifetime value
CA['customer lifetime value'] = CA['customer lifetime value'].astype("string")

In [26]:
CA['customer lifetime value'] = CA['customer lifetime value'].str.replace("%","")

In [27]:
CA

,st,gender,education,customer lifetime value,income,monthly premium auto,number of open complaints,policy type,vehicle class,total claim amount
0,Washington,NaN,Master,<NA>,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,Arizona,F,Bachelor,697953.59,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,Nevada,F,Bachelor,1288743.17,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,California,M,Bachelor,764586.18,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,Washington,M,High School or Below,536307.65,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...
7065,California,M,Bachelor,23405.98798,71941.0,73.0,0,Personal Auto,Four-Door Car,198.234764
7066,California,F,College,3096.511217,21604.0,79.0,0,Corporate Auto,Four-Door Car,379.200000
7067,California,M,Bachelor,8163.890428,0.0,85.0,3,Corporate Auto,Four-Door Car,790.784983
7068,California,M,College,7524.442436,21941.0,96.0,0,Personal Auto,Four-Door Car,691.200000
7069,California,M,College,2611.836866,0.0,77.0,0,Corporate Auto,Two-Door Car,369.600000

#### - clean the number of open complaints and extract the middle number which is changing between records.

In [28]:
## change the data types
CA['customer lifetime value'] = CA['customer lifetime value'].astype("float")

In [29]:
CA.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9135 entries, 0 to 7069
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   st                         9134 non-null   object
 1   gender                     9012 non-null   object
 2   education                  9134 non-null   object
 3   customer lifetime value    9127 non-null   float64
 4   income                     9134 non-null   float64
 5   monthly premium auto       9134 non-null   float64
 6   number of open complaints  9134 non-null   object
 7   policy type                9134 non-null   object
 8   vehicle class              9134 non-null   object
 9   total claim amount         9134 non-null   float64
dtypes: float64(4), object(6)
memory usage: 785.0+ KB

In [30]:
CA['number of open complaints'] = CA['number of open complaints'].astype("string")

In [31]:
CA['number of open complaints'].unique()

<StringArray>
['1/0/00', '1/2/00', '1/1/00', '1/3/00', '1/5/00', '1/4/00',     <NA>,
      '0',      '2',      '3',      '1',      '5',      '4']
Length: 13, dtype: string

In [32]:
## clean the number of open complaints
CA.iloc[:, 6][CA["number of open complaints"].str.contains(pat = "1/")] = "0"

In [33]:
CA['number of open complaints'] = CA['number of open complaints'].replace("/00","")

In [34]:
CA['number of open complaints'].unique()

<StringArray>
['0', <NA>, '2', '3', '1', '5', '4']
Length: 7, dtype: string

In [35]:
CA['number of open complaints'] =  pd.to_numeric(CA['number of open complaints'], errors='coerce')

In [36]:
CA.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9135 entries, 0 to 7069
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   st                         9134 non-null   object
 1   gender                     9012 non-null   object
 2   education                  9134 non-null   object
 3   customer lifetime value    9127 non-null   float64
 4   income                     9134 non-null   float64
 5   monthly premium auto       9134 non-null   float64
 6   number of open complaints  9134 non-null   float64
 7   policy type                9134 non-null   object
 8   vehicle class              9134 non-null   object
 9   total claim amount         9134 non-null   float64
dtypes: float64(5), object(5)
memory usage: 785.0+ KB

In [37]:
CA['number of open complaints'] = CA['number of open complaints'].astype("float")

In [38]:
median_number_open_complaints = np.median(CA['number of open complaints'])

In [39]:
median_number_open_complaints

nan

In [40]:
CA['number of open complaints'] = CA['number of open complaints'].fillna(median_number_open_complaints)

In [41]:
CA['number of open complaints'].unique()

array([ 0., nan,  2.,  3.,  1.,  5.,  4.])

#### - Filtering data and Correcting typos – Filter the data in state and gender column to standardize the texts in those columns

In [42]:
##clean data in 'st' and in 'gender'
def st_clean(i):
    if i =='AZ':
        return 'Arizona'
    elif i == 'WA':
        return 'Washington'
    elif i == 'Cali':
        return 'California'
    else:
        return i

In [43]:
CA ['st']= list(map(st_clean, CA['st']))
CA['st'].unique()

array(['Washington', 'Arizona', 'Nevada', 'California', 'Oregon', nan],
      dtype=object)

In [44]:
CA.gender.unique()

array([nan, 'F', 'M', 'Femal', 'Male', 'female'], dtype=object)

In [45]:
CA['gender'].isna().value_counts()

False    9012
True      123
Name: gender, dtype: int64

In [46]:
def gender_clean(i):
    if i in ['M', 'Male']:
        return "Male"
    elif i in ['F', 'Femal', 'female']:
        return "Female"
    else:
        return i

In [47]:
CA['gender']= list(map(gender_clean, CA['gender']))
CA['gender'].unique()

array([nan, 'Female', 'Male'], dtype=object)

In [48]:
CA['education'].unique()

array(['Master', 'Bachelor', 'High School or Below', 'College',
       'Bachelors', 'Doctor', nan], dtype=object)

In [49]:
def education_clean(i):
    if i =="Bachelors":
        return "Bachelor"
    else:
        return i

In [50]:
CA['education'] = list(map(education_clean, CA['education']))
CA['education'].unique()

array(['Master', 'Bachelor', 'High School or Below', 'College', 'Doctor',
       nan], dtype=object)

In [51]:
CA['income'].isna().value_counts()

False    9134
True        1
Name: income, dtype: int64

In [52]:
CA['policy type'].unique()

array(['Personal Auto', 'Corporate Auto', 'Special Auto', nan],
      dtype=object)

In [53]:
CA['vehicle class'].unique()

array(['Four-Door Car', 'Two-Door Car', 'SUV', 'Luxury SUV', 'Sports Car',
       'Luxury Car', nan], dtype=object)

In [54]:
CA

,st,gender,education,customer lifetime value,income,monthly premium auto,number of open complaints,policy type,vehicle class,total claim amount
0,Washington,NaN,Master,NaN,0.0,1000.0,0.0,Personal Auto,Four-Door Car,2.704934
1,Arizona,Female,Bachelor,6.979536e+05,0.0,94.0,0.0,Personal Auto,Four-Door Car,1131.464935
2,Nevada,Female,Bachelor,1.288743e+06,48767.0,108.0,0.0,Personal Auto,Two-Door Car,566.472247
3,California,Male,Bachelor,7.645862e+05,0.0,106.0,0.0,Corporate Auto,SUV,529.881344
4,Washington,Male,High School or Below,5.363077e+05,36357.0,68.0,0.0,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...
7065,California,Male,Bachelor,2.340599e+04,71941.0,73.0,0.0,Personal Auto,Four-Door Car,198.234764
7066,California,Female,College,3.096511e+03,21604.0,79.0,0.0,Corporate Auto,Four-Door Car,379.200000
7067,California,Male,Bachelor,8.163890e+03,0.0,85.0,3.0,Corporate Auto,Four-Door Car,790.784983
7068,California,Male,College,7.524442e+03,21941.0,96.0,0.0,Personal Auto,Four-Door Car,691.200000
7069,California,Male,College,2.611837e+03,0.0,77.0,0.0,Corporate Auto,Two-Door Car,369.600000

## Activity 2, January 18th

#### - Replacing null values – Replace missing values with means of the column (for numerical columns). Pay attention that the Income feature for instance has 0s which is equivalent to null values. (We assume here that there is no such income with 0 as it refers to missing values) Hint: numpy.nan is considered of float64 data type.

In [55]:
## replace null values with means
### 1st I calculate the mean of the variable and then I replace the null values with the mean

In [56]:
### customer lifetime value
mean_customer_lifetime_value = np.mean(CA['customer lifetime value'])

In [57]:
CA['customer lifetime value'] = CA['customer lifetime value'].fillna(mean_customer_lifetime_value)

In [58]:
CA['customer lifetime value'].isna().value_counts()

False    9135
Name: customer lifetime value, dtype: int64

In [59]:
### monthly premium auto
mean_monthly_premium_auto = np.mean(CA['monthly premium auto'])

In [60]:
CA['monthly premium auto'] = CA['monthly premium auto'].fillna(mean_monthly_premium_auto)

In [61]:
### total claim amount
CA['total claim amount'].isna().value_counts()

False    9134
True        1
Name: total claim amount, dtype: int64

In [62]:
mean_total_claim_amount = np.mean(CA['total claim amount'])

In [63]:
CA['total claim amount'] = CA['total claim amount'].fillna(mean_total_claim_amount)

In [64]:
mean_number_open_complaints = np.mean(CA['number of open complaints'])

In [65]:
CA['number of open complaints'] = CA['number of open complaints'].fillna(mean_number_open_complaints)

In [66]:
### income, in this case there are values with 0, that I am going to interprete as null values as well.
mean_income = np.mean(CA['income'])

In [67]:
def income_clean(i):
    if i == 0:
        return mean_income
    else:
        return i

In [68]:
CA['income'] = list(map(income_clean, CA['income']))
CA['income'].unique()

array([37824.84705496, 48767.        , 36357.        , ...,
       66367.        , 71941.        , 21941.        ])

In [69]:
CA['income'] = CA['income'].fillna(mean_income)

In [70]:
CA['income'].isna().value_counts()

False    9135
Name: income, dtype: int64

In [71]:
CA.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9135 entries, 0 to 7069
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   st                         9134 non-null   object
 1   gender                     9012 non-null   object
 2   education                  9134 non-null   object
 3   customer lifetime value    9135 non-null   float64
 4   income                     9135 non-null   float64
 5   monthly premium auto       9135 non-null   float64
 6   number of open complaints  9135 non-null   float64
 7   policy type                9134 non-null   object
 8   vehicle class              9134 non-null   object
 9   total claim amount         9135 non-null   float64
dtypes: float64(5), object(5)
memory usage: 785.0+ KB

#### - Bucketing the data - Write a function to replace column "State" to different zones. California as West Region, Oregon as North West, and Washington as East, and Arizona and Nevada as Central

In [72]:
CA['st']

0       Washington
1          Arizona
2           Nevada
3       California
4       Washington
           ...
7065    California
7066    California
7067    California
7068    California
7069    California
Name: st, Length: 9135, dtype: object

In [73]:
def st_clean_2(i):
    #if i == 'Washington':
     #   return 'east'
   # if i == 'Arizona' or 'Nevada':
    #    return 'central'
    if i == 'California':
        return "west region"
    if i == 'Oregon':
        return "north west"
    if i == 'Arizona' or i == "Nevada":
        return "central"
    if i == 'Washington':
        return 'east' 
    else:
        return i

In [74]:
CA['st'].unique()

array(['Washington', 'Arizona', 'Nevada', 'California', 'Oregon', nan],
      dtype=object)

In [75]:
 x= list(map(st_clean_2, CA['st']))

In [76]:
set(x)

{'central', 'east', nan, 'north west', 'west region'}

In [77]:
CA['st'] = list(map(st_clean_2, CA['st']))

In [78]:
CA['st'].unique()

array(['east', 'central', 'west region', 'north west', nan], dtype=object)

#### - (Optional) In the column Vehicle Class, merge the two categories Luxury SUV and Luxury Car into one category named Luxury Vehicle

In [79]:
CA['vehicle class'].unique()

array(['Four-Door Car', 'Two-Door Car', 'SUV', 'Luxury SUV', 'Sports Car',
       'Luxury Car', nan], dtype=object)

In [80]:
def vehicle_class_clean(i):
    if i == 'Luxury SUV':
        return 'luxury'
    elif i == 'Luxury Car':
        return 'luxury'
    else:
        return i

In [81]:
CA['vehicle class'] = list(map(vehicle_class_clean, CA['vehicle class']))

In [82]:
CA['vehicle class'].unique()

array(['Four-Door Car', 'Two-Door Car', 'SUV', 'luxury', 'Sports Car',
       nan], dtype=object)

#### - (Optional) Removing outliers using 1.5*IQR technique for all numerical columns.

In [83]:
## removing outliers for numerical columns: customer lifetime value, income, monthly premium auto, number of open complaints and total claim amount

In [84]:
## first I calculate IQR = 3rd quartile(75%) - 1st quartile(25%)

In [85]:
q3_customer_lifetime_value = np.percentile(CA['customer lifetime value'], 25)

In [86]:
q1_customer_lifetime_value = np.percentile(CA['customer lifetime value'], 75)

In [87]:
q3_customer_lifetime_value

4650.063763

In [88]:
q1_customer_lifetime_value

26200.180650000002

In [89]:
IQR_customer_lifetime_value = q3_customer_lifetime_value - q1_customer_lifetime_value

In [90]:
IQR_customer_lifetime_value

-21550.116887000004

In [91]:
## Now, I want to see if there are outliers. Creating to variable for upper and lower bounds and checking if there are greater o lower observations

In [92]:
x_upper= q3_customer_lifetime_value + (IQR_customer_lifetime_value*1.5)
x_lower= q1_customer_lifetime_value - (IQR_customer_lifetime_value*1.5)

In [93]:
x_upper

-27675.111567500004

In [94]:
x_lower

58525.35598050001

In [95]:
x = CA['customer lifetime value'] > x_upper

In [96]:
x2 = CA['customer lifetime value'] < x_lower

In [97]:
x.value_counts()

True    9135
Name: customer lifetime value, dtype: int64

In [98]:
def outliers_clv(i):
    if CA['customer lifetime value'] > x_upper == True:
        return CA
    elif CA['customer lifetime value'] < x_lower ==True:
        return CA
    else:
        return i

In [99]:
outliers_clv

#### - (Optional) Standardizing the data – Use string functions to standardize the text data (lower case)

In [100]:
##changing the data types of the columns to string and then lower them

In [101]:
CA['gender'] = CA['gender'].astype('string')

In [102]:
CA['gender'] = CA['gender'].str.lower()

In [103]:
CA['education'] = CA['education'].astype('string')

In [104]:
CA['education'] = CA['education'].str.lower()

In [105]:
CA['policy type'] = CA['policy type'].astype('string')

In [106]:
CA['policy type'] = CA['policy type'].str.lower()

In [107]:
CA['vehicle class'] = CA['vehicle class'].astype('string')

In [108]:
CA['vehicle class'] = CA['vehicle class'].str.lower()

In [109]:
CA['st'] = CA['st'].astype('string')

In [110]:
CA

,st,gender,education,customer lifetime value,income,monthly premium auto,number of open complaints,policy type,vehicle class,total claim amount
0,east,<NA>,master,1.820715e+05,37824.847055,1000.0,0.0,personal auto,four-door car,2.704934
1,central,female,bachelor,6.979536e+05,37824.847055,94.0,0.0,personal auto,four-door car,1131.464935
2,central,female,bachelor,1.288743e+06,48767.000000,108.0,0.0,personal auto,two-door car,566.472247
3,west region,male,bachelor,7.645862e+05,37824.847055,106.0,0.0,corporate auto,suv,529.881344
4,east,male,high school or below,5.363077e+05,36357.000000,68.0,0.0,personal auto,four-door car,17.269323
...,...,...,...,...,...,...,...,...,...,...
7065,west region,male,bachelor,2.340599e+04,71941.000000,73.0,0.0,personal auto,four-door car,198.234764
7066,west region,female,college,3.096511e+03,21604.000000,79.0,0.0,corporate auto,four-door car,379.200000
7067,west region,male,bachelor,8.163890e+03,37824.847055,85.0,3.0,corporate auto,four-door car,790.784983
7068,west region,male,college,7.524442e+03,21941.000000,96.0,0.0,personal auto,four-door car,691.200000
7069,west region,male,college,2.611837e+03,37824.847055,77.0,0.0,corporate auto,two-door car,369.600000