## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [5]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [57]:
# Your code here

sample_list_1 = random.sample(range(0,100), 80)

len(sample_list_1)

sample_list_1

sample_list_1.sort()

sample_list_1

[0,
 2,
 3,
 4,
 5,
 6,
 8,
 9,
 10,
 11,
 13,
 14,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 26,
 28,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 42,
 43,
 44,
 45,
 47,
 48,
 50,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 63,
 64,
 65,
 66,
 67,
 68,
 71,
 72,
 73,
 75,
 76,
 77,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 87,
 88,
 89,
 90,
 92,
 93,
 94,
 95,
 97,
 98,
 99]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [59]:
# Your code hers

set1 = set(sample_list_1)

len(set1)

#the length is 80

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [105]:
# Your code here

sample_list_2 = []

for i in range (80):
    sample_list_2.append(random.randint(0,100))

    
sample_list_2

len(sample_list_2)

80

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [108]:
# Your code here

set2 = set(sample_list_2)

set2

len(set2)

54

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [110]:
# Your code here

set3 = set1 - set2

type(set3)

len(set3)

41

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [111]:
# Your code here
set4 = set2 - set1

set4

len(set4)

15

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [112]:
# Your code here
set5 = []

for i in set1 and set2:
    if i not in set5:
        set5.append(i)

set5 = set(set5)

type(set5)

len(set5)

54

#### (Optional) What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a formula to represent that relationship. Test your formula with Python code.

In [ ]:
# Your code here

#### Create an empty set called `set6`.

In [97]:
# Your code here

set6 = []

set6 = set(set6)

type(set6)

set

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [99]:
# Your code here


set6.update(set3, set5)

set6

len(set6)

92

#### Check if `set1` and `set6` are equal.

In [102]:
# Your code here

set7 = set6 - set1


set7

len(set7)

12

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [114]:
# Your code here

set8 = set1.issubset(set2)

set8

False

In [116]:
set9 = set1.issubset(set3)

set9

False

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [119]:
# Your code here

set10 = set3.union(set4, set5)

set10

{0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 13,
 14,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 47,
 48,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 97,
 98,
 99,
 100}

In [120]:
set11 = set1.union(set2)

set11

{0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 13,
 14,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 47,
 48,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 97,
 98,
 99,
 100}

#### Using the `pop` method, remove an element from `set1`.

In [125]:
# Your code here

set1.pop()

2

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [146]:
# Your code here

list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

set12 = set(list_to_remove)

set12

set13 = set1-set12

In [147]:
set13

{3,
 4,
 5,
 6,
 8,
 10,
 13,
 14,
 17,
 18,
 20,
 22,
 23,
 24,
 26,
 28,
 30,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 40,
 42,
 43,
 44,
 45,
 47,
 48,
 50,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 60,
 63,
 64,
 65,
 66,
 67,
 68,
 72,
 73,
 75,
 76,
 77,
 80,
 82,
 83,
 84,
 85,
 87,
 88,
 90,
 92,
 93,
 94,
 95,
 97,
 98}