In [1]:
import pandas as pd
import numpy as np

### Import and join all databases

In [2]:
amsterdam_weekend = pd.read_csv("Data/Amsterdam_Weekends.csv")

In [3]:
amsterdam_weekend['city'] = ('Amsterdam')

In [4]:
barcelona_weekend = pd.read_csv("Data/Barcelona_Weekends.csv")

In [5]:
barcelona_weekend['city'] = ('Barcelona')

In [6]:
athens_weekend = pd.read_csv("Data/Athens_Weekends.csv")

In [7]:
athens_weekend['city'] = ('Athens')

In [8]:
london_weekend = pd.read_csv("Data/London_Weekends.csv")

In [9]:
london_weekend['city'] = ('London')

In [10]:
berlin_weekend = pd.read_csv("Data/Berlin_Weekends.csv")

In [11]:
berlin_weekend['city'] = ('Berlin')

In [12]:
budapest_weekend = pd.read_csv("Data/Budapest_Weekends.csv")

In [13]:
budapest_weekend['city'] = ('Budapest')

In [14]:
lisbon_weekend = pd.read_csv("Data/Lisbon_Weekends.csv")

In [15]:
lisbon_weekend['city'] = ('Lisbon')

In [16]:
paris_weekend = pd.read_csv("Data/Paris_Weekends.csv")

In [17]:
paris_weekend['city'] = ('Paris')

In [18]:
rome_weekend = pd.read_csv("Data/Rome_Weekends.csv")

In [19]:
rome_weekend['city'] = ('Rome')

In [20]:
vienna_weekend = pd.read_csv("Data/Vienna_Weekends.csv")

In [21]:
vienna_weekend['city'] = ('Vienna')

In [22]:
weekend_data = pd.concat((amsterdam_weekend, berlin_weekend, barcelona_weekend, london_weekend, budapest_weekend, lisbon_weekend, paris_weekend, rome_weekend, vienna_weekend, athens_weekend))

In [23]:
weekend_data

,Unnamed: 0,realSum,room_type,room_shared,room_private,person_capacity,host_is_superhost,multi,biz,cleanliness_rating,...,bedrooms,dist,metro_dist,attr_index,attr_index_norm,rest_index,rest_index_norm,lng,lat,city
0,0,319.640053,Private room,False,True,2.0,False,0,1,9.0,...,1,4.763360,0.852117,110.906123,5.871971,136.982208,11.941560,4.84639,52.34137,Amsterdam
1,1,347.995219,Private room,False,True,2.0,False,0,1,9.0,...,1,5.748310,3.651591,75.275937,3.985516,95.386468,8.315410,4.97512,52.36103,Amsterdam
2,2,482.975183,Private room,False,True,4.0,False,0,1,9.0,...,2,0.384872,0.439852,493.272517,26.116521,875.114817,76.289005,4.89417,52.37663,Amsterdam
3,3,485.552926,Private room,False,True,2.0,True,0,0,10.0,...,1,0.544723,0.318688,552.849514,29.270850,815.303994,71.074937,4.90051,52.37508,Amsterdam
4,4,2771.541724,Entire home/apt,False,False,4.0,True,0,0,10.0,...,3,1.686798,1.458399,208.809162,11.055489,272.315202,23.739349,4.88467,52.38749,Amsterdam
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2622,2622,74.051508,Entire home/apt,False,False,3.0,True,0,0,10.0,...,1,3.311976,1.856865,49.097725,1.849891,71.119758,1.062098,23.75000,38.00306,Athens
2623,2623,295.737351,Entire home/apt,False,False,4.0,True,0,1,10.0,...,1,1.800556,0.571033,146.240703,5.510019,203.884287,3.044796,23.71500,37.97400,Athens
2624,2624,169.193635,Entire home/apt,False,False,4.0,True,0,1,10.0,...,2,3.845100,0.786416,42.260382,1.592276,60.948754,0.910205,23.76657,37.99986,Athens
2625,2625,160.991728,Entire home/apt,False,False,4.0,True,1,0,10.0,...,1,4.827460,0.141952,35.700540,1.345116,52.659912,0.786420,23.73300,38.01900,Athens
2626,2626,192.393317,Entire home/apt,False,False,4.0,False,0,1,10.0,...,1,1.776319,0.317120,107.126909,4.036300,149.191222,2.228013,23.72863,37.99064,Athens

In [24]:
weekend_data['weekend'] = ('yes')

In [25]:
weekend_data['weekend'].value_counts()

yes    26207
Name: weekend, dtype: int64

In [26]:
weekday_rome = pd.read_csv('Data/Rome_Weekdays.csv')
weekday_rome['city'] = ('Rome')
weekday_berlin = pd.read_csv('Data/Berlin_Weekdays.csv')
weekday_berlin['city'] = ('Berlin')
weekday_london = pd.read_csv('Data/London_Weekdays.csv')
weekday_london['city'] = ('London')
weekday_lisbon = pd.read_csv("Data/Lisbon_Weekdays.csv")
weekday_lisbon['city'] = ('Lisbon')
weekday_amsterdam = pd.read_csv('Data/Amsterdam_Weekdays.csv')
weekday_amsterdam['city'] = ('Amsterdam')
weekday_barcelona = pd.read_csv('Data/Barcelona_Weekdays.csv')
weekday_barcelona['city'] = ('Barcelona')
weekday_budapest = pd.read_csv('Data/Budapest_Weekdays.csv')
weekday_budapest['city'] = ('Budapest')
weekday_athens = pd.read_csv('Data/Athens_Weekdays.csv')
weekday_athens['city'] = ('Athens')
weekday_vienna = pd.read_csv('Data/Vienna_Weekdays.csv')
weekday_vienna['city'] = ('Vienna')
weekday_paris = pd.read_csv('Data/Paris_Weekdays.csv')
weekday_paris['city'] = ('Paris')

In [27]:
weekdays = pd.concat([weekday_rome, weekday_berlin, weekday_london, weekday_lisbon, weekday_amsterdam, weekday_barcelona, weekday_budapest, weekday_athens, weekday_vienna, weekday_paris])

In [28]:
weekdays['weekend'] = ('no')

In [29]:
weekdays

,Unnamed: 0,realSum,room_type,room_shared,room_private,person_capacity,host_is_superhost,multi,biz,cleanliness_rating,...,dist,metro_dist,attr_index,attr_index_norm,rest_index,rest_index_norm,lng,lat,city,weekend
0,0,156.874664,Private room,False,True,2.0,True,1,0,10.0,...,2.978468,1.595733,281.163932,6.230648,697.727246,15.191486,12.48654,41.92498,Rome,no
1,1,172.772543,Private room,False,True,2.0,False,1,0,9.0,...,0.935371,0.649269,482.707193,10.696887,1251.524333,27.249208,12.49627,41.90801,Rome,no
2,2,277.745307,Entire home/apt,False,False,4.0,False,0,1,9.0,...,2.203025,0.494697,691.708998,15.328408,1625.897266,35.400361,12.47700,41.90700,Rome,no
3,3,444.906834,Entire home/apt,False,False,6.0,False,1,0,9.0,...,2.703010,1.295153,805.592641,17.852092,2035.819533,44.325522,12.46969,41.90019,Rome,no
4,4,131.391298,Private room,False,True,3.0,False,1,0,9.0,...,1.295968,0.867455,317.076369,7.026475,836.622814,18.215634,12.51544,41.89463,Rome,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3125,3125,231.615248,Entire home/apt,False,False,4.0,False,0,0,10.0,...,3.558773,0.154750,185.488125,9.029499,474.358260,27.873072,2.40050,48.85093,Paris,no
3126,3126,223.692795,Entire home/apt,False,False,2.0,False,1,0,9.0,...,4.205210,0.253034,172.658783,8.404971,406.585538,23.890778,2.40100,48.87700,Paris,no
3127,3127,567.853481,Entire home/apt,False,False,6.0,True,0,0,10.0,...,4.312136,0.304642,178.222781,8.675825,420.726229,24.721678,2.39334,48.88463,Paris,no
3128,3128,200.391462,Entire home/apt,False,False,2.0,True,0,0,9.0,...,2.891206,0.240686,235.168523,11.447924,602.451547,35.399774,2.38200,48.87400,Paris,no
3129,3129,301.286234,Entire home/apt,False,False,2.0,False,0,0,10.0,...,3.469721,0.508493,200.639467,9.767062,478.992836,28.145397,2.39992,48.85886,Paris,no

In [30]:
data = pd.concat((weekdays, weekend_data))

### Drop irrelevant features and transform the boolean data types into dummy variables

In [76]:
data.drop_duplicates(inplace=True)

In [77]:
data.corr()

,Unnamed: 0,realSum,room_shared,room_private,person_capacity,host_is_superhost,multi,biz,cleanliness_rating,guest_satisfaction_overall,bedrooms,dist,metro_dist,attr_index,attr_index_norm,rest_index,rest_index_norm,lng,lat
Unnamed: 0,1.000000,0.010863,-0.003336,0.039880,-0.001816,-0.059890,-0.001999,0.018735,-0.049342,-0.062290,0.019509,0.186218,0.024200,0.084314,0.035687,0.158729,-0.141629,-0.156467,0.056303
realSum,0.010863,1.000000,-0.035095,-0.171949,0.203077,-0.045478,-0.052926,0.037144,-0.006082,-0.001888,0.221653,-0.044725,-0.061025,0.178228,0.292396,0.134722,0.144094,-0.173833,0.211805
room_shared,-0.003336,-0.035095,1.000000,-0.063533,0.035146,-0.027839,-0.016061,0.044406,-0.040097,-0.027876,-0.021365,0.014144,-0.002868,-0.031458,-0.006137,-0.031297,0.005711,-0.027829,0.023304
room_private,0.039880,-0.171949,-0.063533,1.000000,-0.499993,-0.049501,0.137026,-0.040198,-0.030983,-0.033401,-0.155889,0.213351,0.101981,-0.022286,0.029140,-0.022343,-0.136846,-0.201709,0.140762
person_capacity,-0.001816,0.203077,0.035146,-0.499993,1.000000,0.031431,-0.054326,0.110668,0.003256,0.005181,0.560627,-0.128488,-0.037267,0.028394,-0.050487,0.037330,0.038059,0.146848,-0.168265
host_is_superhost,-0.059890,-0.045478,-0.027839,-0.049501,0.031431,1.000000,0.097520,-0.108506,0.272376,0.280062,0.024250,-0.056113,-0.000722,-0.026335,-0.088949,-0.035060,-0.018348,0.185748,-0.113811
multi,-0.001999,-0.052926,-0.016061,0.137026,-0.054326,0.097520,1.000000,-0.470725,0.041064,0.054254,-0.000659,0.033426,0.043365,0.006319,-0.041412,0.007051,-0.037402,0.041260,-0.034058
biz,0.018735,0.037144,0.044406,-0.040198,0.110668,-0.108506,-0.470725,1.000000,-0.107310,-0.208160,-0.026741,-0.164767,-0.109153,0.114732,0.093720,0.137747,0.083999,-0.088943,-0.126433
cleanliness_rating,-0.049342,-0.006082,-0.040097,-0.030983,0.003256,0.272376,0.041064,-0.107310,1.000000,0.714045,0.033489,-0.030202,0.010441,-0.025322,-0.075372,-0.031929,-0.005995,0.120379,-0.092502
guest_satisfaction_overall,-0.062290,-0.001888,-0.027876,-0.033401,0.005181,0.280062,0.054254,-0.208160,0.714045,1.000000,0.047573,-0.004178,0.029788,-0.050624,-0.074146,-0.069319,-0.008765,0.156079,-0.033957
bedrooms,0.019509,0.221653,-0.021365,-0.155889,0.560627,0.024250,-0.000659,-0.026741,0.033489,0.047573,1.000000,-0.006262,0.044431,-0.011735,-0.063773,-0.014047,-0.057726,0.013688,-0.104694
dist,0.186218,-0.044725,0.014144,0.213351,-0.128488,-0.056113,0.033426,-0.164767,-0.030202,-0.004178,-0.006262,1.000000,0.558064,-0.363088,-0.242862,-0.346653,-0.467791,-0.147424,0.405878
metro_dist,0.024200,-0.061025,-0.002868,0.101981,-0.037267,-0.000722,0.043365,-0.109153,0.010441,0.029788,0.044431,0.558064,1.000000,-0.168010,-0.219587,-0.138876,-0.259654,-0.069506,0.086424
attr_index,0.084314,0.178228,-0.031458,-0.022286,0.028394,-0.026335,0.006319,0.114732,-0.025322,-0.050624,-0.011735,-0.363088,-0.168010,1.000000,0.714847,0.850229,0.544403,-0.126942,-0.052438
attr_index_norm,0.035687,0.292396,-0.006137,0.029140,-0.050487,-0.088949,-0.041412,0.093720,-0.075372,-0.074146,-0.063773,-0.242862,-0.219587,0.714847,1.000000,0.527623,0.472143,-0.221591,0.435237
rest_index,0.158729,0.134722,-0.031297,-0.022343,0.037330,-0.035060,0.007051,0.137747,-0.031929,-0.069319,-0.014047,-0.346653,-0.138876,0.850229,0.527623,1.000000,0.617970,-0.176704,-0.113163
rest_index_norm,-0.141629,0.144094,0.005711,-0.136846,0.038059,-0.018348,-0.037402,0.083999,-0.005995,-0.008765,-0.057726,-0.467791,-0.259654,0.544403,0.472143,0.617970,1.000000,-0.134731,0.023698
lng,-0.156467,-0.173833,-0.027829,-0.201709,0.146848,0.185748,0.041260,-0.088943,0.120379,0.156079,0.013688,-0.147424,-0.069506,-0.126942,-0.221591,-0.176704,-0.134731,1.000000,-0.159214
lat,0.056303,0.211805,0.023304,0.140762,-0.168265,-0.113811,-0.034058,-0.126433,-0.092502,-0.033957,-0.104694,0.405878,0.086424,-0.052438,0.435237,-0.113163,0.023698,-0.159214,1.000000

In [78]:
data_clean = data.drop(['Unnamed: 0', 'room_shared', 'room_type', 'attr_index', 'rest_index', 'person_capacity', 'guest_satisfaction_overall'], axis=1)

In [79]:
data_clean

,realSum,room_private,host_is_superhost,multi,biz,cleanliness_rating,bedrooms,dist,metro_dist,attr_index_norm,rest_index_norm,lng,lat,city,weekend
0,156.874664,True,True,1,0,10.0,1,2.978468,1.595733,6.230648,15.191486,12.48654,41.92498,Rome,no
1,172.772543,True,False,1,0,9.0,1,0.935371,0.649269,10.696887,27.249208,12.49627,41.90801,Rome,no
2,277.745307,False,False,0,1,9.0,1,2.203025,0.494697,15.328408,35.400361,12.47700,41.90700,Rome,no
3,444.906834,False,False,1,0,9.0,2,2.703010,1.295153,17.852092,44.325522,12.46969,41.90019,Rome,no
4,131.391298,True,False,1,0,9.0,1,1.295968,0.867455,7.026475,18.215634,12.51544,41.89463,Rome,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2622,74.051508,False,True,0,0,10.0,1,3.311976,1.856865,1.849891,1.062098,23.75000,38.00306,Athens,yes
2623,295.737351,False,True,0,1,10.0,1,1.800556,0.571033,5.510019,3.044796,23.71500,37.97400,Athens,yes
2624,169.193635,False,True,0,1,10.0,2,3.845100,0.786416,1.592276,0.910205,23.76657,37.99986,Athens,yes
2625,160.991728,False,True,1,0,10.0,1,4.827460,0.141952,1.345116,0.786420,23.73300,38.01900,Athens,yes
2626,192.393317,False,False,0,1,10.0,1,1.776319,0.317120,4.036300,2.228013,23.72863,37.99064,Athens,yes

In [34]:
data_clean['bedrooms'].value_counts()

1     36333
2      9290
0      4485
3      1477
4        96
9        10
5        10
8         2
10        2
6         2
Name: bedrooms, dtype: int64

In [35]:
data_clean = pd.get_dummies(data_clean, columns = ['room_private', 'host_is_superhost', 'weekend'], drop_first =True)
data_clean

,realSum,multi,biz,cleanliness_rating,bedrooms,dist,metro_dist,attr_index_norm,rest_index_norm,lng,lat,city,room_private_True,host_is_superhost_True,weekend_yes
0,156.874664,1,0,10.0,1,2.978468,1.595733,6.230648,15.191486,12.48654,41.92498,Rome,1,1,0
1,172.772543,1,0,9.0,1,0.935371,0.649269,10.696887,27.249208,12.49627,41.90801,Rome,1,0,0
2,277.745307,0,1,9.0,1,2.203025,0.494697,15.328408,35.400361,12.47700,41.90700,Rome,0,0,0
3,444.906834,1,0,9.0,2,2.703010,1.295153,17.852092,44.325522,12.46969,41.90019,Rome,0,0,0
4,131.391298,1,0,9.0,1,1.295968,0.867455,7.026475,18.215634,12.51544,41.89463,Rome,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2622,74.051508,0,0,10.0,1,3.311976,1.856865,1.849891,1.062098,23.75000,38.00306,Athens,0,1,1
2623,295.737351,0,1,10.0,1,1.800556,0.571033,5.510019,3.044796,23.71500,37.97400,Athens,0,1,1
2624,169.193635,0,1,10.0,2,3.845100,0.786416,1.592276,0.910205,23.76657,37.99986,Athens,0,1,1
2625,160.991728,1,0,10.0,1,4.827460,0.141952,1.345116,0.786420,23.73300,38.01900,Athens,0,1,1
2626,192.393317,0,1,10.0,1,1.776319,0.317120,4.036300,2.228013,23.72863,37.99064,Athens,0,0,1

In [36]:
data_clean[['cleanliness_rating']] = data[['cleanliness_rating']].astype(int)

In [37]:
data_clean[['realSum', 'dist', 'metro_dist']]=data_clean[['realSum', 'dist', 'metro_dist']].round(2)

In [38]:
data_clean['realSum'].describe()

count    51707.000000
mean       279.879630
std        327.948372
min         34.780000
25%        148.750000
50%        211.340000
75%        319.690000
max      18545.450000
Name: realSum, dtype: float64

In [39]:
def split_cities(cities):
    data_cities = data_clean[data_clean['city'] == cities]
    return data_cities

In [40]:
data_berlin = split_cities('Berlin')
data_berlin['city'].value_counts()

Berlin    2484
Name: city, dtype: int64

In [41]:
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
from sklearn.preprocessing import PowerTransformer, StandardScaler
from sklearn.compose import ColumnTransformer
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

import statsmodels.api as sm
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error as mse
from sklearn.metrics import mean_absolute_error as mae

In [55]:
RAND_STATE = 20 # for reproducible shuffling
TT_RATIO = 0.2 # test/train

In [56]:
data_clean.isna().any()

realSum                   False
multi                     False
biz                       False
cleanliness_rating        False
bedrooms                  False
dist                      False
metro_dist                False
attr_index_norm           False
rest_index_norm           False
lng                       False
lat                       False
city                      False
room_private_True         False
host_is_superhost_True    False
weekend_yes               False
dtype: bool

In [57]:
   # def categorical_city(data_clean):
        city_categories = {
            'Rome': 0,
            'Berlin': 1,
            'London': 2,
            'Lisbon': 3,
            'Amsterdam': 4,
            'Barcelona': 5,
            'Budapest': 6,
            'Athens': 7,
            'Paris': 8,
            'Vienna': 9
        }

        categories = []
        for city in data_clean['city']:
            if city in city_categories:
                categories.append(city_categories[city])
            else:
                categories.append(-1)  # or some other value to represent unknown categories

        return categories

IndentationError: unexpected indent (3523604192.py, line 2)

In [58]:
# data_clean['city_categories'] = categorical_city(data_clean)

In [59]:
data_clean_numerical = data_clean.drop(['city'], axis=1)

In [60]:
data_clean_numerical

,realSum,multi,biz,cleanliness_rating,bedrooms,dist,metro_dist,attr_index_norm,rest_index_norm,lng,lat,room_private_True,host_is_superhost_True,weekend_yes
0,156.87,1,0,10,1,2.98,1.60,6.230648,15.191486,12.48654,41.92498,1,1,0
1,172.77,1,0,9,1,0.94,0.65,10.696887,27.249208,12.49627,41.90801,1,0,0
2,277.75,0,1,9,1,2.20,0.49,15.328408,35.400361,12.47700,41.90700,0,0,0
3,444.91,1,0,9,2,2.70,1.30,17.852092,44.325522,12.46969,41.90019,0,0,0
4,131.39,1,0,9,1,1.30,0.87,7.026475,18.215634,12.51544,41.89463,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2622,74.05,0,0,10,1,3.31,1.86,1.849891,1.062098,23.75000,38.00306,0,1,1
2623,295.74,0,1,10,1,1.80,0.57,5.510019,3.044796,23.71500,37.97400,0,1,1
2624,169.19,0,1,10,2,3.85,0.79,1.592276,0.910205,23.76657,37.99986,0,1,1
2625,160.99,1,0,10,1,4.83,0.14,1.345116,0.786420,23.73300,38.01900,0,1,1
2626,192.39,0,1,10,1,1.78,0.32,4.036300,2.228013,23.72863,37.99064,0,0,1

#### X-Y split

In [61]:
x = data_clean_numerical.drop('realSum', axis=1)
y = data_clean_numerical.realSum

#### Train - Test split

In [62]:
# test-train split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=TT_RATIO, random_state=RAND_STATE)
x_train = pd.DataFrame(x_train)
x_test = pd.DataFrame(x_test)
x_train.describe()

,multi,biz,cleanliness_rating,bedrooms,dist,metro_dist,attr_index_norm,rest_index_norm,lng,lat,room_private_True,host_is_superhost_True,weekend_yes
count,41365.000000,41365.000000,41365.000000,41365.000000,41365.000000,41365.000000,41365.000000,41365.000000,41365.000000,41365.000000,41365.000000,41365.000000,41365.000000
mean,0.290318,0.351529,9.388154,1.156920,3.189635,0.684120,13.428047,22.779660,7.406939,45.663963,0.360546,0.256376,0.506273
std,0.453915,0.477454,0.958295,0.624083,2.400009,0.869055,9.798993,17.841750,9.817037,5.254022,0.480165,0.436637,0.499967
min,0.000000,0.000000,2.000000,0.000000,0.020000,0.000000,0.926301,0.592757,-9.226340,37.953000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,9.000000,1.000000,1.450000,0.250000,6.372029,8.696674,-0.073640,41.398000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,10.000000,1.000000,2.610000,0.410000,11.468431,17.518286,4.867820,47.506960,0.000000,0.000000,1.000000
75%,1.000000,1.000000,10.000000,1.000000,4.260000,0.740000,17.420518,32.926143,13.524400,51.470950,1.000000,1.000000,1.000000
max,1.000000,1.000000,10.000000,10.000000,25.280000,14.270000,100.000000,100.000000,23.786020,52.641410,1.000000,1.000000,1.000000

#### Standarize the data

In [63]:
sts = StandardScaler()

x_train_standarized = sts.fit_transform(x_train)
x_test_standarized = sts.transform(x_test)

x_train_standarized = pd.DataFrame(x_train_standarized)

#### Apply linear regression.

In [64]:
x_train_const = sm.add_constant(x_train) # adding a constant

model = sm.OLS(y_train, x_train_const).fit()
predictions_train = model.predict(x_train_const)

x_test_const = sm.add_constant(x_test) # adding a constant
predictions_test = model.predict(x_test_const)
print_model = model.summary()
print(print_model)

                            OLS Regression Results
==============================================================================
Dep. Variable:                realSum   R-squared:                       0.196
Model:                            OLS   Adj. R-squared:                  0.196
Method:                 Least Squares   F-statistic:                     777.0
Date:                Mon, 06 Mar 2023   Prob (F-statistic):               0.00
Time:                        11:55:57   Log-Likelihood:            -2.9363e+05
No. Observations:               41365   AIC:                         5.873e+05
Df Residuals:                   41351   BIC:                         5.874e+05
Df Model:                          13
Covariance Type:            nonrobust
==========================================================================================
                             coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------------
const                   -444.0832     22.601    -19.649      0.000    -488.382    -399.784
multi                      3.1184      3.672      0.849      0.396      -4.079      10.316
biz                       16.2737      3.564      4.566      0.000       9.287      23.260
cleanliness_rating         9.5584      1.576      6.066      0.000       6.470      12.647
bedrooms                 115.3547      2.360     48.886      0.000     110.730     119.980
dist                      -6.9703      0.978     -7.127      0.000      -8.887      -5.053
metro_dist                -3.7980      2.047     -1.856      0.063      -7.809       0.213
attr_index_norm            5.9161      0.208     28.488      0.000       5.509       6.323
rest_index_norm           -0.1445      0.103     -1.404      0.160      -0.346       0.057
lng                       -5.0788      0.161    -31.471      0.000      -5.395      -4.762
lat                       11.4683      0.389     29.455      0.000      10.705      12.231
room_private_True       -125.2370      3.221    -38.879      0.000    -131.551    -118.923
host_is_superhost_True    -3.6489      3.499     -1.043      0.297     -10.507       3.209
weekend_yes                4.8239      2.887      1.671      0.095      -0.835      10.483
==============================================================================
Omnibus:                   106018.120   Durbin-Watson:                   1.989
Prob(Omnibus):                  0.000   Jarque-Bera (JB):       3035152129.763
Skew:                          29.030   Prob(JB):                         0.00
Kurtosis:                    1328.755   Cond. No.                         870.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [65]:
x_train_const = sm.add_constant(x_train_standarized.to_numpy()) # adding a constant

model = sm.OLS(y_train, x_train_const).fit()
predictions_train = model.predict(x_train_const)

x_test_const = sm.add_constant(x_test_standarized) # adding a constant
predictions_test = model.predict(x_test_const)
print_model = model.summary()
print(print_model)

                            OLS Regression Results
==============================================================================
Dep. Variable:                realSum   R-squared:                       0.196
Model:                            OLS   Adj. R-squared:                  0.196
Method:                 Least Squares   F-statistic:                     777.0
Date:                Mon, 06 Mar 2023   Prob (F-statistic):               0.00
Time:                        11:55:58   Log-Likelihood:            -2.9363e+05
No. Observations:               41365   AIC:                         5.873e+05
Df Residuals:                   41351   BIC:                         5.874e+05
Df Model:                          13
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const        279.4736      1.440    194.097      0.000     276.651     282.296
x1             1.4155      1.667      0.849      0.396      -1.851       4.682
x2             7.7699      1.702      4.566      0.000       4.434      11.106
x3             9.1596      1.510      6.066      0.000       6.200      12.119
x4            71.9900      1.473     48.886      0.000      69.104      74.876
x5           -16.7286      2.347     -7.127      0.000     -21.329     -12.128
x6            -3.3006      1.779     -1.856      0.063      -6.787       0.185
x7            57.9706      2.035     28.488      0.000      53.982      61.959
x8            -2.5781      1.837     -1.404      0.160      -6.178       1.022
x9           -49.8578      1.584    -31.471      0.000     -52.963     -46.753
x10           60.2537      2.046     29.455      0.000      56.244      64.263
x11          -60.1337      1.547    -38.879      0.000     -63.165     -57.102
x12           -1.5932      1.528     -1.043      0.297      -4.588       1.401
x13            2.4118      1.443      1.671      0.095      -0.418       5.241
==============================================================================
Omnibus:                   106018.120   Durbin-Watson:                   1.989
Prob(Omnibus):                  0.000   Jarque-Bera (JB):       3035152129.763
Skew:                          29.030   Prob(JB):                         0.00
Kurtosis:                    1328.755   Cond. No.                         3.24
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

#### Linear Regression

In [66]:
lm = LinearRegression()
model = lm.fit(x_train,y_train)
model.coef_
model.intercept_

-444.08324192761967

In [67]:
model.score(x_train, y_train)

0.19630969710161617

In [68]:
y_pred = pd.DataFrame(model.predict(x_test),columns = ['realSum'] )      # model prediction
y_pred_train =  pd.DataFrame(model.predict(x_train),columns = ['realSum'])

In [69]:
mse(y_test,y_pred)

84782.12189013774

In [70]:
rmse = np.sqrt(mse(y_test,y_pred))
rmse

291.1736971124585

In [71]:
##prediction on the train set
mse(y_train,y_pred_train)

85729.71973267608

In [72]:
mae(y_test,y_pred)

109.19264639112284

In [73]:
R2=r2_score(y_test,y_pred)
R2

0.23658465150838837

In [74]:
R2_test=model.score(x_test,y_test)
R2_train=model.score(x_train,y_train)
Adj_R2= 1 - (1-R2)*(len(y_test)-1)/(len(y_test)-x_test.shape[1]-1)
Adj_R2

0.23562372978778512

In [80]:
from sklearn.linear_model import Lasso,Ridge,ElasticNet, LinearRegression
model_lasso=Lasso(alpha=0.05)

model_lasso.fit(x_train, y_train)
print(f"{model_lasso.__class__.__name__}: Train -> {model_lasso.score(x_train, y_train)}, Test -> {model_lasso.score(x_test, y_test)}")

Lasso: Train -> 0.19630869995704836, Test -> 0.23655714455413623

In [81]:
model_ridge=Ridge(alpha=1000)
model_ridge.fit(x_train, y_train)
print(f"{model_ridge.__class__.__name__}: Train -> {model_ridge.score(x_train, y_train)}, Test -> {model_ridge.score(x_test, y_test)}")

Ridge: Train -> 0.19584827780713332, Test -> 0.2348128030784734

#### KNN model

In [85]:
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import cross_val_predict

from sklearn.model_selection import train_test_split

from sklearn.linear_model import LinearRegression
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeClassifier
from sklearn.tree import DecisionTreeRegressor
import warnings
warnings.filterwarnings('ignore')

In [86]:
model = DecisionTreeRegressor()
model.fit(x_train, y_train)

print("X_train has %d rows and %d columns"  %(x_train.shape[0],x_train.shape[1]))
print("-----------------------------------")
print("The coefficient of determination for the test data is R2=%.2f"
      %(model.score(x_test, y_test)))
print("The coefficient of determination for the train data is R2=%.2f"
      %(model.score(x_train, y_train)))

X_train has 41365 rows and 13 columns
-----------------------------------
The coefficient of determination for the test data is R2=-0.29
The coefficient of determination for the train data is R2=1.00

In [88]:
scores=cross_val_score(model, x_train, y_train, cv=5)
print("Cross validation scores: ", scores)
print("Score stats: %0.2f accuracy with a standard deviation of %0.2f" % (scores.mean(), scores.std()))

Cross validation scores:  [0.43648734 0.2950186  0.38718501 0.24961596 0.11712398]
Score stats: 0.30 accuracy with a standard deviation of 0.11

In [89]:
model1 = DecisionTreeRegressor()
model2 = LinearRegression()
model3 = KNeighborsRegressor()

model_pipeline = [model1, model2, model3]
model_names = ['Regression Tree', 'Linear Regression', 'KNN']
scores = {}
i=0
for model in model_pipeline:
    mean_score = np.mean(cross_val_score(model, x_train, y_train, cv=5))
    scores[model_names[i]] = mean_score
    i = i+1
print(scores)

{'Regression Tree': 0.2771309511336142, 'Linear Regression': 0.21910368455851983, 'KNN': 0.2394339584084281}