In [1]:
import pandas as pd
import numpy as np

### Import and join all databases

In [2]:
amsterdam_weekend = pd.read_csv("Data/Amsterdam_Weekends.csv")

In [3]:
amsterdam_weekend['city'] = ('Amsterdam')

In [4]:
barcelona_weekend = pd.read_csv("Data/Barcelona_Weekends.csv")

In [5]:
barcelona_weekend['city'] = ('Barcelona')

In [6]:
athens_weekend = pd.read_csv("Data/Athens_Weekends.csv")

In [7]:
athens_weekend['city'] = ('Athens')

In [8]:
london_weekend = pd.read_csv("Data/London_Weekends.csv")

In [9]:
london_weekend['city'] = ('London')

In [10]:
berlin_weekend = pd.read_csv("Data/Berlin_Weekends.csv")

In [11]:
berlin_weekend['city'] = ('Berlin')

In [12]:
budapest_weekend = pd.read_csv("Data/Budapest_Weekends.csv")

In [13]:
budapest_weekend['city'] = ('Budapest')

In [14]:
lisbon_weekend = pd.read_csv("Data/Lisbon_Weekends.csv")

In [15]:
lisbon_weekend['city'] = ('Lisbon')

In [16]:
paris_weekend = pd.read_csv("Data/Paris_Weekends.csv")

In [17]:
paris_weekend['city'] = ('Paris')

In [18]:
rome_weekend = pd.read_csv("Data/Rome_Weekends.csv")

In [19]:
rome_weekend['city'] = ('Rome')

In [20]:
vienna_weekend = pd.read_csv("Data/Vienna_Weekends.csv")

In [21]:
vienna_weekend['city'] = ('Vienna')

In [22]:
weekend_data = pd.concat((amsterdam_weekend, berlin_weekend, barcelona_weekend, london_weekend, budapest_weekend, lisbon_weekend, paris_weekend, rome_weekend, vienna_weekend, athens_weekend))

In [23]:
weekend_data

,Unnamed: 0,realSum,room_type,room_shared,room_private,person_capacity,host_is_superhost,multi,biz,cleanliness_rating,...,bedrooms,dist,metro_dist,attr_index,attr_index_norm,rest_index,rest_index_norm,lng,lat,city
0,0,319.640053,Private room,False,True,2.0,False,0,1,9.0,...,1,4.763360,0.852117,110.906123,5.871971,136.982208,11.941560,4.84639,52.34137,Amsterdam
1,1,347.995219,Private room,False,True,2.0,False,0,1,9.0,...,1,5.748310,3.651591,75.275937,3.985516,95.386468,8.315410,4.97512,52.36103,Amsterdam
2,2,482.975183,Private room,False,True,4.0,False,0,1,9.0,...,2,0.384872,0.439852,493.272517,26.116521,875.114817,76.289005,4.89417,52.37663,Amsterdam
3,3,485.552926,Private room,False,True,2.0,True,0,0,10.0,...,1,0.544723,0.318688,552.849514,29.270850,815.303994,71.074937,4.90051,52.37508,Amsterdam
4,4,2771.541724,Entire home/apt,False,False,4.0,True,0,0,10.0,...,3,1.686798,1.458399,208.809162,11.055489,272.315202,23.739349,4.88467,52.38749,Amsterdam
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2622,2622,74.051508,Entire home/apt,False,False,3.0,True,0,0,10.0,...,1,3.311976,1.856865,49.097725,1.849891,71.119758,1.062098,23.75000,38.00306,Athens
2623,2623,295.737351,Entire home/apt,False,False,4.0,True,0,1,10.0,...,1,1.800556,0.571033,146.240703,5.510019,203.884287,3.044796,23.71500,37.97400,Athens
2624,2624,169.193635,Entire home/apt,False,False,4.0,True,0,1,10.0,...,2,3.845100,0.786416,42.260382,1.592276,60.948754,0.910205,23.76657,37.99986,Athens
2625,2625,160.991728,Entire home/apt,False,False,4.0,True,1,0,10.0,...,1,4.827460,0.141952,35.700540,1.345116,52.659912,0.786420,23.73300,38.01900,Athens
2626,2626,192.393317,Entire home/apt,False,False,4.0,False,0,1,10.0,...,1,1.776319,0.317120,107.126909,4.036300,149.191222,2.228013,23.72863,37.99064,Athens

In [24]:
weekend_data['weekend'] = ('yes')

In [25]:
weekend_data['weekend'].value_counts()

yes    26207
Name: weekend, dtype: int64

In [26]:
weekday_rome = pd.read_csv('Data/Rome_Weekdays.csv')
weekday_rome['city'] = ('Rome')
weekday_berlin = pd.read_csv('Data/Berlin_Weekdays.csv')
weekday_berlin['city'] = ('Berlin')
weekday_london = pd.read_csv('Data/London_Weekdays.csv')
weekday_london['city'] = ('London')
weekday_lisbon = pd.read_csv("Data/Lisbon_Weekdays.csv")
weekday_lisbon['city'] = ('Lisbon')
weekday_amsterdam = pd.read_csv('Data/Amsterdam_Weekdays.csv')
weekday_amsterdam['city'] = ('Amsterdam')
weekday_barcelona = pd.read_csv('Data/Barcelona_Weekdays.csv')
weekday_barcelona['city'] = ('Barcelona')
weekday_budapest = pd.read_csv('Data/Budapest_Weekdays.csv')
weekday_budapest['city'] = ('Budapest')
weekday_athens = pd.read_csv('Data/Athens_Weekdays.csv')
weekday_athens['city'] = ('Athens')
weekday_vienna = pd.read_csv('Data/Vienna_Weekdays.csv')
weekday_vienna['city'] = ('Vienna')
weekday_paris = pd.read_csv('Data/Paris_Weekdays.csv')
weekday_paris['city'] = ('Paris')

In [27]:
weekdays = pd.concat([weekday_rome, weekday_berlin, weekday_london, weekday_lisbon, weekday_amsterdam, weekday_barcelona, weekday_budapest, weekday_athens, weekday_vienna, weekday_paris])

In [28]:
weekdays['weekend'] = ('no')

In [29]:
weekdays

,Unnamed: 0,realSum,room_type,room_shared,room_private,person_capacity,host_is_superhost,multi,biz,cleanliness_rating,...,dist,metro_dist,attr_index,attr_index_norm,rest_index,rest_index_norm,lng,lat,city,weekend
0,0,156.874664,Private room,False,True,2.0,True,1,0,10.0,...,2.978468,1.595733,281.163932,6.230648,697.727246,15.191486,12.48654,41.92498,Rome,no
1,1,172.772543,Private room,False,True,2.0,False,1,0,9.0,...,0.935371,0.649269,482.707193,10.696887,1251.524333,27.249208,12.49627,41.90801,Rome,no
2,2,277.745307,Entire home/apt,False,False,4.0,False,0,1,9.0,...,2.203025,0.494697,691.708998,15.328408,1625.897266,35.400361,12.47700,41.90700,Rome,no
3,3,444.906834,Entire home/apt,False,False,6.0,False,1,0,9.0,...,2.703010,1.295153,805.592641,17.852092,2035.819533,44.325522,12.46969,41.90019,Rome,no
4,4,131.391298,Private room,False,True,3.0,False,1,0,9.0,...,1.295968,0.867455,317.076369,7.026475,836.622814,18.215634,12.51544,41.89463,Rome,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3125,3125,231.615248,Entire home/apt,False,False,4.0,False,0,0,10.0,...,3.558773,0.154750,185.488125,9.029499,474.358260,27.873072,2.40050,48.85093,Paris,no
3126,3126,223.692795,Entire home/apt,False,False,2.0,False,1,0,9.0,...,4.205210,0.253034,172.658783,8.404971,406.585538,23.890778,2.40100,48.87700,Paris,no
3127,3127,567.853481,Entire home/apt,False,False,6.0,True,0,0,10.0,...,4.312136,0.304642,178.222781,8.675825,420.726229,24.721678,2.39334,48.88463,Paris,no
3128,3128,200.391462,Entire home/apt,False,False,2.0,True,0,0,9.0,...,2.891206,0.240686,235.168523,11.447924,602.451547,35.399774,2.38200,48.87400,Paris,no
3129,3129,301.286234,Entire home/apt,False,False,2.0,False,0,0,10.0,...,3.469721,0.508493,200.639467,9.767062,478.992836,28.145397,2.39992,48.85886,Paris,no

In [30]:
data = pd.concat((weekdays, weekend_data))

### Drop irrelevant features and the boolean data types into dummy variables

In [31]:
data_clean = data.drop(['lng', 'Unnamed: 0', 'lat', 'room_private', 'attr_index', 'attr_index_norm', 'rest_index', 'rest_index_norm'], axis=1)

In [32]:
data_clean

,realSum,room_type,room_shared,person_capacity,host_is_superhost,multi,biz,cleanliness_rating,guest_satisfaction_overall,bedrooms,dist,metro_dist,city,weekend
0,156.874664,Private room,False,2.0,True,1,0,10.0,95.0,1,2.978468,1.595733,Rome,no
1,172.772543,Private room,False,2.0,False,1,0,9.0,80.0,1,0.935371,0.649269,Rome,no
2,277.745307,Entire home/apt,False,4.0,False,0,1,9.0,90.0,1,2.203025,0.494697,Rome,no
3,444.906834,Entire home/apt,False,6.0,False,1,0,9.0,92.0,2,2.703010,1.295153,Rome,no
4,131.391298,Private room,False,3.0,False,1,0,9.0,91.0,1,1.295968,0.867455,Rome,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2622,74.051508,Entire home/apt,False,3.0,True,0,0,10.0,98.0,1,3.311976,1.856865,Athens,yes
2623,295.737351,Entire home/apt,False,4.0,True,0,1,10.0,100.0,1,1.800556,0.571033,Athens,yes
2624,169.193635,Entire home/apt,False,4.0,True,0,1,10.0,99.0,2,3.845100,0.786416,Athens,yes
2625,160.991728,Entire home/apt,False,4.0,True,1,0,10.0,100.0,1,4.827460,0.141952,Athens,yes
2626,192.393317,Entire home/apt,False,4.0,False,0,1,10.0,99.0,1,1.776319,0.317120,Athens,yes

In [33]:
data_clean = pd.get_dummies(data_clean, columns = ['room_shared', 'host_is_superhost', 'weekend'], drop_first =True)
data_clean

,realSum,room_type,person_capacity,multi,biz,cleanliness_rating,guest_satisfaction_overall,bedrooms,dist,metro_dist,city,room_shared_True,host_is_superhost_True,weekend_yes
0,156.874664,Private room,2.0,1,0,10.0,95.0,1,2.978468,1.595733,Rome,0,1,0
1,172.772543,Private room,2.0,1,0,9.0,80.0,1,0.935371,0.649269,Rome,0,0,0
2,277.745307,Entire home/apt,4.0,0,1,9.0,90.0,1,2.203025,0.494697,Rome,0,0,0
3,444.906834,Entire home/apt,6.0,1,0,9.0,92.0,2,2.703010,1.295153,Rome,0,0,0
4,131.391298,Private room,3.0,1,0,9.0,91.0,1,1.295968,0.867455,Rome,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2622,74.051508,Entire home/apt,3.0,0,0,10.0,98.0,1,3.311976,1.856865,Athens,0,1,1
2623,295.737351,Entire home/apt,4.0,0,1,10.0,100.0,1,1.800556,0.571033,Athens,0,1,1
2624,169.193635,Entire home/apt,4.0,0,1,10.0,99.0,2,3.845100,0.786416,Athens,0,1,1
2625,160.991728,Entire home/apt,4.0,1,0,10.0,100.0,1,4.827460,0.141952,Athens,0,1,1
2626,192.393317,Entire home/apt,4.0,0,1,10.0,99.0,1,1.776319,0.317120,Athens,0,0,1

In [34]:
data_clean[['person_capacity', 'guest_satisfaction_overall', 'cleanliness_rating']] = data[['person_capacity', 'guest_satisfaction_overall', 'cleanliness_rating']].astype(int)

In [35]:
data_clean[['realSum', 'dist', 'metro_dist']]=data_clean[['realSum', 'dist', 'metro_dist']].round(2)

In [36]:
data_clean['realSum'].describe()

count    51707.000000
mean       279.879630
std        327.948372
min         34.780000
25%        148.750000
50%        211.340000
75%        319.690000
max      18545.450000
Name: realSum, dtype: float64

In [37]:
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
from sklearn.preprocessing import PowerTransformer, StandardScaler
from sklearn.compose import ColumnTransformer
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

import statsmodels.api as sm
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error as mse
from sklearn.metrics import mean_absolute_error as mae

In [38]:
RAND_STATE = 34 # for reproducible shuffling
TT_RATIO = 0.3 # test/train

In [39]:
data_clean.isna().any()

realSum                       False
room_type                     False
person_capacity               False
multi                         False
biz                           False
cleanliness_rating            False
guest_satisfaction_overall    False
bedrooms                      False
dist                          False
metro_dist                    False
city                          False
room_shared_True              False
host_is_superhost_True        False
weekend_yes                   False
dtype: bool

In [40]:
def categorical_city(data_clean):
    city_categories = {
        'Rome': 0,
        'Berlin': 1,
        'London': 2,
        'Lisbon': 3,
        'Amsterdam': 4,
        'Barcelona': 5,
        'Budapest': 6,
        'Athens': 7,
        'Paris': 8,
        'Vienna': 9
    }
    
    categories = []
    for city in data_clean['city']:
        if city in city_categories:
            categories.append(city_categories[city])
        else:
            categories.append(-1)  # or some other value to represent unknown categories
    
    return categories

In [45]:
def categorical_room(data_clean):
    room_type_cat = {
        'Private room' : 0,
        'Entire home/apt' :1,
        'Shared room' : 2
    }
    
    room_type_categories = []
    for room_type in data_clean['room_type']:
        if room_type in room_type_cat:
            room_type_categories.append(room_type_cat[room_type])
        else:
            room_type_categories.append(-1)
    return room_type_categories

In [41]:
data_clean['city_categories'] = categorical_city(data_clean)

In [46]:
data_clean['room_categories'] = categorical_room(data_clean)

In [48]:
data_clean_numerical = data_clean.drop(['room_type', 'city'], axis=1)

In [49]:
data_clean_numerical

,realSum,person_capacity,multi,biz,cleanliness_rating,guest_satisfaction_overall,bedrooms,dist,metro_dist,room_shared_True,host_is_superhost_True,weekend_yes,city_categories,room_categories
0,156.87,2,1,0,10,95,1,2.98,1.60,0,1,0,0,0
1,172.77,2,1,0,9,80,1,0.94,0.65,0,0,0,0,0
2,277.75,4,0,1,9,90,1,2.20,0.49,0,0,0,0,1
3,444.91,6,1,0,9,92,2,2.70,1.30,0,0,0,0,1
4,131.39,3,1,0,9,91,1,1.30,0.87,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2622,74.05,3,0,0,10,98,1,3.31,1.86,0,1,1,7,1
2623,295.74,4,0,1,10,100,1,1.80,0.57,0,1,1,7,1
2624,169.19,4,0,1,10,99,2,3.85,0.79,0,1,1,7,1
2625,160.99,4,1,0,10,100,1,4.83,0.14,0,1,1,7,1
2626,192.39,4,0,1,10,99,1,1.78,0.32,0,0,1,7,1

#### X-Y split